<%= form_with(model: channel, class: "contents") do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
        <% channel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :account_id, value: params[:account_id] %>
  <%= form.hidden_field :publicid, value: SecureRandom.base58(10) %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :privacy %>
    <%= form.select :privacy, [[t('.public'), 'public'], [t('.private'), 'private']], {}, {class: "mt-1 w-1/2 block border border-gray-200 rounded-md shadow-sm py-2 px-3 focus:outline-none sm:text-sm"} %>
  </div>

  <div class="inline">
    <%= form.submit t('.create_channel'), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
