<div id="<%= dom_id library_folder %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Channel:</strong>
    <%= library_folder.channel_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= library_folder.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this library folder", library_folder, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this library folder', edit_library_folder_path(library_folder), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
