<div id="<%= dom_id video %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Channel:</strong>
    <%= video.channel_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= video.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= video.score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visible:</strong>
    <%= video.visible %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publicid:</strong>
    <%= video.publicid %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Playback:</strong>
    <%= video.playback_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Policy:</strong>
    <%= video.policy %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mux asset:</strong>
    <%= video.mux_asset_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= video.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max stored resolution:</strong>
    <%= video.max_stored_resolution %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max stored frame rate:</strong>
    <%= video.max_stored_frame_rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= video.duration %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Aspect ratio:</strong>
    <%= video.aspect_ratio %>
  </p>

  <p class="my-5">
    <strong>Video:</strong>
    <div class="h-auto">
      <video
  id="mux-default"
  class="video-js vjs-16-9"
  controls
  preload="auto"
  width="100%"
  poster="https://image.mux.com/DS00Spx1CV902MCtPj5WknGlR102V5HFkDe/thumbnail.jpg"
  data-setup='{
    "timelineHoverPreviews": true,
    "plugins": {
      "mux": {
        "data": {
          "env_key": "ENV_KEY",
          "video_title": "My Great Video"
        }
      }
    }
  }'
>
  <source src="<%= video.playback_id %>" type="video/mux" />
</video>
    </div>
  </p>


  <% if action_name != "show" %>
    <%= link_to "Show this video", video, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this video', edit_video_path(video), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
