<% if course_item.category == "lesson" %>
  <%= content_tag :div, id: dom_id(course_item), data: { sgid: course_item.to_sgid_param }, class: "bg-gray-100 px-4 py-1 my-1 border" do %>
    <%= course_item.name %> <span class="text-sm text-gray-600">- lesson</span>
  <% end %>
<% elsif course_item.category == "chapter" %>
  <%= content_tag :div, id: dom_id(course_item), data: { sgid: course_item.to_sgid_param }, class: "bg-gray-300 px-2 py-1 my-1 border font-bold" do %>
    <%= course_item.name %> <span class="text-sm text-gray-600">- chapter</span>
  <% end %>
<% elsif course_item.category == "quizz" %>
  <%= content_tag :div, id: dom_id(course_item), data: { sgid: course_item.to_sgid_param }, class: "bg-gray-100 px-4 py-1 my-1 border" do %>
    <%= course_item.name %>  <span class="text-sm text-gray-600">- quizz</span>
  <% end %>
<% end %>