<%= render ("layouts/dashboard") %>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="border-t border-gray-200 py-3">
      <nav class="flex" aria-label="Breadcrumb">
        
        <div class="hidden sm:block">
          <ol role="list" class="flex items-center space-x-4">
            <li>
              <div>
                <%= link_to dashboard_index_path, class: "text-gray-400 hover:text-gray-500" do %>
                  <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                  </svg>
                  <span class="sr-only">Home</span>
                <% end %>
              </div>
            </li>

            <li>
              <div class="flex items-center">
                <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                </svg>
                <%= link_to t('.courses'), courses_list_path, class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>
              </div>
            </li>

            <li>
              <div class="flex items-center max-w-xs">
                <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                </svg>
                <span class="ml-4 text-sm font-medium text-gray-500 truncate"><%= @course.title %></span>
              </div>
            </li>

            <li>
              <div class="flex items-center">
                <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                </svg>
                <span class="ml-4 text-sm font-medium text-gray-500"><%= t('.course_contents') %></span>
              </div>
            </li>

          </ol>
        </div>
      </nav>
    </div>
  </div>

  <main class="py-6 bg-gray-100 h-screen">
    <div class="max-w-3xl mx-auto sm:px-6 lg:max-w-5xl">
      <div class="flex items-center space-x-5">
        <div>
          <h1 class="font-bold text-2xl"><%= t('.course_contents') %></h1>
        </div>
      </div>
    </div>
    <div class="mt-6 max-w-3xl mx-auto gap-6 sm:px-6 lg:max-w-5xl">
      <div class="bg-white shadow sm:rounded-lg sm:overflow-hidden px-4 py-5 sm:px-6 mb-8">
        <h2 class="font-bold text-xl mb-8"><%= @course.title %></h2>
        <%= turbo_stream_from :course_items %>
        <%= turbo_frame_tag "items_#{dom_id(@course)}" do %>
          <div data-controller="position" id=<%= %"existing_items_#{dom_id(@course)}"%>>
            <%= render @course_items %>
          </div>
        <% end %>
        
        <%= render "category" %>
        
      </div>
    </div>
  </main>
</div>