<!DOCTYPE html>
<html>
  <head>
    <title>EdificaPRO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/@mux/videojs-kit@0.6/dist/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@mux/videojs-kit@0.6/dist/index.css">
    <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon_edificapro.ico') %>
  </head>

  <body>
    <main>
      <div data-controller="slideover" data-slideover-open-value="false" data-slideover-invisible-class="-translate-x-full,opacity-0" data-slideover-visible-class="translate-x-0,opacity-100" data-slideover-entering-class="" data-slideover-enter-timeout="300,300" data-slideover-leaving-class="" data-slideover-leave-timeout="300,0" data-slideover-active-target="#slideover-target" aria-haspopup="true" aria-expanded="false">
      <%= yield %>
      </div>
    </main>
  </body>
</html>
