<%= render ("layouts/mobile_navigation") %>
<%= render ("layouts/only_top_bar") %>

<div class="bg-gray-50">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-center text-3xl font-extrabold text-gray-900 sm:text-4xl mb-16">
        <%= t('.account_configuration') %>
      </h2>
      
      <%= turbo_frame_tag "edit_account" do %>
        <div class="text-2xl font-bold">
          <%= render @account %>
        </div>
        <p class="text-sm text-blue-600"><%= link_to t('.change_name'), edit_account_path(@account) %></p>
      <% end %>
      
      <%= turbo_stream_from :account_affiliations %>

      <div class="grid grid-cols-2 gap-4 mt-16">
        <div>
          <div class="mb-1">
            <%= t('.account_members') %>:
          </div>
          <div>
            <%= render "search_form", destination_account: @account.id %>
          </div>
        </div>
        <div>
          <div class="mb-1">
            <%= t('.current_account_users') %>:
          </div>
          <div>
            <div class="bg-white border border-gray-300 rounded">
              <%= turbo_frame_tag "account_affiliations", src: account_affiliations_path(account_id: @account.id) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      