<%= render ("layouts/mobile_navigation") %>
<%= render ("layouts/only_top_bar") %>

<div class="bg-gray-50">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-center text-3xl font-extrabold text-gray-900 sm:text-4xl mb-16">
        <%= t('.edit_account') %>
      </h2>
      <%= turbo_frame_tag "edit_account" do %>
        <%= render "form", account: @account %>
      <% end %>
    </div>
  </div>
</div>
      